h3 {
    color: aliceblue;
    background-color: brown;
}
h2{
    color: aqua;
}
 
.t_right{
    text-align: right;
}
.t_center{
    text-align: center;
}
.t_decor_under{
_text-decoration: underline;
}


